@import url('../components/sidebar/sidebar.css');
@import url('../components/formField/formField.css');
@import url('./auth.css');
@import url('./button.css');
@import url('./profile.css');
@import url('../components/postCard/postCard.css');

:root {
  --color-primary: #e07a5f;
  --color-background: #f4f1de;
  --color-text: #3d405b;
  --color-grey-9: #999999;
  --color-grey-c: #cccccc;
  --color-white: #ffffff;
  --color-error: #b3261e;
  --color-secondary: #81b29a;
  --color-profile-border: rgba(61, 64, 91, 0.5);
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}
